# Global
*       @chlwys @jiracheron

# By Language
*.js    @jiracheron
*.sol   @chlwys
*.ts    @jiracheron 
*.tsx   @jiracheron

# By Domain
packages/client/ @jiracheron @chlwys @Xenofluxx @hubur @deeterbleater
packages/client/src/app/ @ExistentialEnso
packages/client/src/cache/ @ExistentialEnso
packages/contracts/ @chlwys @jiracheron
