# Global
*       @chlwys @jiracheron

# By Language
*.sol   @chlwys @ExistentialEnso

# By Domain
pnpm-lock.yaml @Xenofluxx @hubur @deeterbleater @ExistentialEnso

packages/client/ @Xenofluxx @deeterbleater @hubur @ExistentialEnso @jiracheron @chlwys
packages/contracts/ @ExistentialEnso @chlwys @jiracheron 

.github/workflows/ @hubur
.github/scripts/ @hubur