# Global
* @Asphodel-OS/Kamigotchi

# By Language
*.sol @jiracheron @kanyaveral @Cooops

# By Domain
pnpm-lock.yaml @Asphodel-OS/Kamigotchi

.github/workflows/ @hubur @Cooops @kanyaveral
.github/scripts/ @hubur @Cooops @kanyaveral